fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.32
python-multipart==0.0.9
pydantic-settings==2.4.0
loguru==0.7.2
faster-whisper==1.0.3
whisper==1.1.10
noisereduce==3.0.0
numpy==1.26.4
scipy==1.13.1
soundfile==0.12.1
